[submodule "lens"]
	path = lens
	url = git@github.com:ekmett/lens.git
[submodule "keys"]
	path = keys
	url = git@github.com:ekmett/keys.git
[submodule "hashable-extras"]
	path = hashable-extras
	url = git@github.com:ekmett/hashable-extras.git
[submodule "ad"]
	path = ad
	url = git@github.com:ekmett/ad.git
[submodule "approximate"]
	path = approximate
	url = git@github.com:ekmett/approximate.git
[submodule "bits"]
	path = bits
	url = git@github.com:ekmett/bits.git
[submodule "bound"]
	path = bound
	url = git@github.com:ekmett/bound.git
[submodule "bytes"]
	path = bytes
	url = git@github.com:ekmett/bytes.git
[submodule "comonad"]
	path = comonad
	url = git@github.com:ekmett/comonad.git
[submodule "compensated"]
	path = compensated
	url = git@github.com:analytics/compensated.git
[submodule "distributive"]
	path = distributive
	url = git@github.com:ekmett/distributive.git
[submodule "ersatz"]
	path = ersatz
	url = git@github.com:ekmett/ersatz.git
[submodule "folds"]
	path = folds
	url = git@github.com:ekmett/folds.git
[submodule "gc"]
	path = gc
	url = git@github.com:ekmett/gc.git
[submodule "gl"]
	path = gl
	url = git@github.com:ekmett/gl.git
[submodule "heaps"]
	path = heaps
	url = git@github.com:ekmett/heaps.git
[submodule "hyperloglog"]
	path = hyperloglog
	url = git@github.com:ekmett/hyperloglog.git
[submodule "hyphenation"]
	path = hyphenation
	url = git@github.com:ekmett/hyphenation.git
[submodule "intervals"]
	path = intervals
	url = git@github.com:ekmett/intervals.git
[submodule "lens-action"]
	path = lens-action
	url = git@github.com:ekmett/lens-action.git
[submodule "lens-aeson"]
	path = lens-aeson
	url = git@github.com:lens/lens-aeson.git
[submodule "log-domain"]
	path = log-domain
	url = git@github.com:ekmett/log-domain.git
[submodule "linear"]
	path = linear
	url = git@github.com:ekmett/linear.git
[submodule "linear-accelerate"]
	path = linear-accelerate
	url = git@github.com:ekmett/linear-accelerate.git
[submodule "machines"]
	path = machines
	url = git@github.com:ekmett/machines.git
[submodule "parsers"]
	path = parsers
	url = git@github.com:ekmett/parsers.git
[submodule "rcu"]
	path = rcu
	url = git@github.com:ekmett/rcu.git
[submodule "semigroupoids"]
	path = semigroupoids
	url = git@github.com:ekmett/semigroupoids.git
[submodule "structs"]
	path = structs
	url = git@github.com:ekmett/structs.git
[submodule "trifecta"]
	path = trifecta
	url = git@github.com:ekmett/trifecta.git
[submodule "wl-pprint-terminfo"]
	path = wl-pprint-terminfo
	url = git@github.com:ekmett/wl-pprint-terminfo.git
[submodule "zippers"]
	path = zippers
	url = git@github.com:ekmett/zippers.git
[submodule "bifunctors"]
	path = bifunctors
	url = git@github.com:ekmett/bifunctors.git
[submodule "profunctors"]
	path = profunctors
	url = git@github.com:ekmett/profunctors.git
[submodule "adjunctions"]
	path = adjunctions
	url = git@github.com:ekmett/adjunctions.git
[submodule "reflection"]
	path = reflection
	url = git@github.com:ekmett/reflection.git
[submodule "constraints"]
	path = constraints
	url = git@github.com:ekmett/constraints.git
[submodule "contravariant"]
	path = contravariant
	url = git@github.com:ekmett/contravariant.git
[submodule "kan-extensions"]
	path = kan-extensions
	url = git@github.com:ekmett/kan-extensions.git
[submodule "free"]
	path = free
	url = git@github.com:ekmett/free.git
[submodule "pointed"]
	path = pointed
	url = git@github.com:ekmett/pointed.git
[submodule "discrimination"]
	path = discrimination
	url = git@github.com:ekmett/discrimination.git
[submodule "promises"]
	path = promises
	url = git@github.com:ekmett/promises.git
[submodule "vector-instances"]
	path = vector-instances
	url = git@github.com:ekmett/vector-instances.git
[submodule "StateVar"]
	path = StateVar
	url = git@github.com:haskell-opengl/StateVar.git
[submodule "algebra"]
	path = algebra
	url = git@github.com:ekmett/algebra.git
[submodule "charset"]
	path = charset
	url = git@github.com:ekmett/charset.git
[submodule "either"]
	path = either
	url = git@github.com:ekmett/either.git
[submodule "eq"]
	path = eq
	url = git@github.com:ekmett/eq.git
[submodule "semigroups"]
	path = semigroups
	url = git@github.com:ekmett/semigroups.git
[submodule "tagged"]
	path = tagged
	url = git@github.com:ekmett/tagged.git
[submodule "compressed"]
	path = compressed
	url = git@github.com:ekmett/compressed.git
[submodule "ansi-wl-pprint"]
	path = ansi-wl-pprint
	url = git@github.com:ekmett/ansi-wl-pprint.git
[submodule "reducers"]
	path = reducers
	url = git@github.com:ekmett/reducers.git
[submodule "wl-pprint-extras"]
	path = wl-pprint-extras
	url = git@github.com:ekmett/wl-pprint-extras.git
[submodule "void"]
	path = void
	url = git@github.com:ekmett/void.git
[submodule "nats"]
	path = nats
	url = git@github.com:ekmett/nats.git
[submodule "hybrid-vectors"]
	path = hybrid-vectors
	url = git@github.com:ekmett/hybrid-vectors.git
[submodule "numeric-extras"]
	path = numeric-extras
	url = git@github.com:ekmett/numeric-extras.git
[submodule "recursion-schemes"]
	path = recursion-schemes
	url = git@github.com:ekmett/recursion-schemes.git
[submodule "zlib-lens"]
	path = zlib-lens
	url = git@github.com:ekmett/zlib-lens.git
[submodule "prelude-extras"]
	path = prelude-extras
	url = git@github.com:ekmett/prelude-extras.git
[submodule "streams"]
	path = streams
	url = git@github.com:ekmett/streams.git
[submodule "exceptions"]
	path = exceptions
	url = git@github.com:ekmett/exceptions.git
[submodule "concurrent-supply"]
	path = concurrent-supply
	url = git@github.com:ekmett/concurrent-supply.git
[submodule "fixed"]
	path = fixed
	url = git@github.com:ekmett/fixed.git
[submodule "graphs"]
	path = graphs
	url = git@github.com:ekmett/graphs.git
[submodule "half"]
	path = half
	url = git@github.com:ekmett/half.git
[submodule "integration"]
	path = integration
	url = git@github.com:ekmett/integration.git
[submodule "intern"]
	path = intern
	url = git@github.com:ekmett/intern.git
[submodule "lca"]
	path = lca
	url = git@github.com:ekmett/lca.git
[submodule "monadic-arrays"]
	path = monadic-arrays
	url = git@github.com:ekmett/monadic-arrays.git
[submodule "monad-products"]
	path = monad-products
	url = git@github.com:ekmett/monad-products.git
[submodule "monad-st"]
	path = monad-st
	url = git@github.com:ekmett/monad-st.git
[submodule "mtl"]
	path = mtl
	url = git@github.com:ekmett/mtl.git
[submodule "semigroupoid-extras"]
	path = semigroupoid-extras
	url = git@github.com:ekmett/semigroupoid-extras.git
[submodule "speculation"]
	path = speculation
	url = git@github.com:ekmett/speculation.git
[submodule "unique"]
	path = unique
	url = git@github.com:ekmett/unique.git
[submodule "tagged-transformer"]
	path = tagged-transformer
	url = git@github.com:ekmett/tagged-transformer.git
